= render 'web/admin/shared/notification'
.container
  = simple_form_for [:admin, @user], html: { class: "form-horizontal" } do |f|
    %legend= legend
    = f.input :full_name
    = f.input :email
    = f.input :phone_number, input_html: { class: "phone-number" }
    = f.input :organization
    = f.input :position

    = f.input :need_recover_pass, as: :boolean

    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    .form-actions
      - if @user.id
        .user_approve
          - if @user.can_block?
            = link_to [:block, :admin, @user], method: :post, class: "btn btn-warning", title: "Блокировать" do
              = "Заблокировать пользователя"
              = fa_icon "lock"

          - if @user.can_unblock?
            = link_to [:unblock, :admin, @user], method: :post, class: "btn btn-warning", title: "Разблокировать" do
              = "Разблокировать пользователя"
              = fa_icon "unlock"
          %br
      = f.submit class: "btn btn-primary", value: btn_title
      = link_to "Отмена", [:admin, :users], class: "btn"
